.container{
    margin: 20px 60px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.restaurant-cards{
    width: 300px;
    margin: 20px 20px;
}

.card-content{
    margin: 0px 10px;
}

.details{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.ratings{
    display: inline-flex;
    flex-direction: row;
    background-color: rgb(221, 208, 31);
    padding: 10px;
}
