.container{
    margin: 20px 70px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.restaurant-cards{
    width: 300px;
    margin: 20px 20px;
    cursor: pointer;
}

.card-content{
    margin: 0px 10px;
}

.details{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.ratings{
    display: flex;
    flex-direction: row;
    background-color: rgb(221, 208, 31);
    padding: 10px;
}

.dispNone {
    display: none;
}

.dispBlock {
    display: block;
}

@media (max-width : 1024px){

    .restaurant-cards{
        width: 400px;
        margin: 20px 20px;
    }

}