.app-header {
    background-color:darkslategrey;
    height: 60px;
}

.logo{
    color: #fff;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
}

.search-box{
    margin:0px 600px;
}

.login-button{
    float: right;
    margin-top: 10px;
    margin-right: 20px;
}

.signup-tab{
    display: flex;
    flex-direction: column;
    padding: 0px 20px;
}

.login-tab{
    display: flex;
    flex-direction: column;
    padding: 0px 20px;
}

.dispNone {
    display: none;
}

.dispBlock {
    display: block;
}

.red {
    color: red;
}

@media (max-width : 1300px){

    .app-header {
        background-color:darkslategrey;
        height: 160px;
        display: flex;
        flex-direction: column;
        padding: 10px 10px;
    }
    
    .logo{
        color: #fff;  
    }
    
    .search-box{
        margin:0px 0px;
    }
    
    .login-button{
        float: right;
        margin-top: 70px;
    }

}

.MuiInput-underline{
    color: floralwhite;
}