.app-header {
    background-color:darkslategrey;
    height: 60px;
}

.logo{
    color: #fff;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
}

.search-box{
    margin-left: 600px;
}

.login-button{
    float: right;
    margin-top: 10px;
    margin-right: 20px;
}

@media (max-width: 360px){
    .app-header {
        background-color:darkslategrey;
        height: 260px;
        display: flex;
        flex-direction: column;
    }
}
